<div class="jumbotron bg-white text-centre">
    <h1 class="display-4 text-centre"> Corona covid 19 Tracker country wise</h1>
    <hr>

    <div class="mx-auto">
        <div class="form-group col-lg-5 mx-auto">
            <label for="c" >Select Country</label>
            <select name="" value="form-control" id="c" #input (change)='updateValues(input.value)'>
                <option value="{{con}}" *ngFor='let con of countries'>{{con}}  </option>
            </select>
        </div>
    </div>

    <app-dashboard-cards [totalConfirmed]='totalConfirmed'
    [totalActive]='totalActive'
    [totalRecovered]='totalRecovered'
    [totalDeaths]='totalDeaths'
    ></app-dashboard-cards>

</div>

    